body{
    background-color: rgb(73, 164, 180);
    color:aliceblue;
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(28, 173, 209);
    color:white;
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 36px;
}
